body {
    margin: 0;
    padding: 0;

    background-color: #fcb31b;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;

}

.tablet button {
    border-radius: 100%;
    box-shadow: 4px 5px 5px 0 rgb(0 0 0 / 50%);
    padding: 16px;

    font-weight: 700;
    background-color: #616161;
    border-color: transparent;
    font-family: 'Inconsolata', monospace;

    display: inline-block;
    text-align: center;
    align-items: flex-start;

    width: 64px;
    flex: 1;

    color: #DFDFDF;
    font-size: 1.325rem;
}

.parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5rem auto 2rem;
}

.child-container {
    max-width: 300px;
    width: 100%;

}

.calculator {
    /*height: 50vh;*/
    padding: 16px;

    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 32px;

    background-color: #212121;

    border-radius: 1rem;
    box-shadow: 5px 5px 12px rgb(0 0 0 / 50%);

}

.screen {

    padding: 32px;
    font-weight: bold;

    display: flex;
    justify-content: flex-end;

    color: #60A07F;
    background-color: #3B3B3B;
    border-radius: 12px;
    box-shadow: inset 2px 3px 5px 0 rgb(0 0 0 / 70%);

}

.numbers {
    display: flex;
    justify-content: flex-end;
}

.tablet {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    gap: 8px;

}
