body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/

    /*width: 300px;*/
    /*height: 500px;*/
    padding: 24px;

    font-family: Arial, sans-serif;
    background-color: #000000;
    border-radius: 20px;
    box-shadow: 4px 4px 4px #4f4f4f;
}

.screen {
    display: flex;
    justify-content: flex-end;
    padding: 36px;

    background-color: #212529;
    font-weight: 500;
    font-family: Arial, sans-serif;
    font-size: 48px;
    color: white;

    border-radius: 12px;
    margin-bottom: 20px;
}

.buttons {
    width: 100%;
    max-width: 300px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.btn {
    cursor: pointer;
    width: 60px;
    height: 60px;
    /*margin: 2px;*/

    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-weight: bold;
    font-size: 1.5rem;
    user-select: none;
}

.btn:hover {
    filter: brightness(115%);
}

.btn:active {
    filter: brightness(90%);
}

.grey {
    background: #333333;
    color: white;
}

.white {
    background: #ced4da;
    color: black;
}

.orange {
    color: white;
    background: #f48c06;
}

.equals {
    width: 100%;
    max-width: 140px;
    border-radius: 36px;
}